# shellcheck shell=bash

if command -v brew >/dev/null 2>&1; then
  alias grep="grep -G"
  alias fgrep="fgrep -G"
  alias egrep="egrep -G"
else
  alias grep="grep --color=auto"
  alias fgrep="fgrep --color=auto"
  alias egrep="egrep --color=auto"
fi

alias zshenv="nvim ${HOME}/.zshenv"
alias zprofile="nvim ${XDG_CONFIG_HOME}/zsh/.zprofile"
alias zshrc="nvim ${XDG_CONFIG_HOME}/zsh/.zshrc"
alias zhistory="nvim ${XDG_CONFIG_HOME}/zsh/.zsh_history"
alias aliases="nvim ${XDG_CONFIG_HOME}/zsh/.aliases"

alias wez-conf="nvim ${XDG_CONFIG_HOME}/wezterm/wezterm.lua"
alias gitui-conf="nvim ${XDG_CONFIG_HOME}/gitui/key_bindings.ron"
alias git-conf="nvim ${XDG_CONFIG_HOME}/git/config"
alias tmux-conf="nvim ${XDG_CONFIG_HOME}/tmux/tmux.conf"

alias sz="source ${ZDOTDIR}/.zprofile && source ${ZDOTDIR}/.zshrc"

alias debug-zsh="zsh -xv 2> zsh.log"

alias ll="ls -alF"
alias la="ls -A"
alias gs="git status"
alias gl="git log --oneline --graph --color=always --decorate=short"
alias du="dust"

alias follow="namei -om"
alias diff="diff --color -u"
alias history="history -i"

alias find="fd"

alias vdt="rm ${XDG_STATE_HOME}/nvim/swap/%*"

# shellcheck disable=SC2139
alias pf="fzf ${FZF_CTRL_T_OPTS}"

# ---- Functions ----#
# Git Branch Checkout (with preview)
gco() {
  _fzf_git_each_ref --no-multi | xargs git checkout
}

# Git Worktree Switch (with preview)
gswt() {
  cd "$(_fzf_git_worktrees --no-multi)"
}

gh() {
  _fzf_git_hashes --no-multi --preview "git show --color=always {-1}" | xargs git show
}

glog() {
  git log --oneline --graph --color=always --decorate=short |
    fzf --ansi --no-sort --reverse --tiebreak=index \
      --preview "echo {} | grep -o '[a-f0-9]\\{7,\\}' | head -1 | \
                 xargs git show --color=always" \
      --bind "enter:execute:echo {} | grep -o '[a-f0-9]\\{7,\\}' | head -1 | \
              xargs -I % git show --color=always % | bat --paging=always --style=full"
}

gsa() {
  git status -s |
    awk '{status=""; if ($1 == "A" || $1 == "M") status="[Staged]"; else status="[Unstaged]"; print status, $1, $2}' |
    fzf --ansi --no-sort --reverse --tiebreak=index \
      --preview 'git diff --color=always {3}' \
      --bind 'enter:execute:git add {3}' \
      --bind 'ctrl-d:execute:git diff --color=always {3} | bat --paging=always --style=full' \
      --preview-window=right:60%:wrap
}

gr() {
  git status -s | awk '$1 ~ /^[ ?M]/ {print "[Unstaged]", $1, $2}' |
    fzf --ansi --no-sort --reverse --multi \
      --preview 'git diff --color=always {3}' \
      --bind 'enter:execute(git restore {3})+abort' \
      --bind 'ctrl-d:execute(git diff --color=always {3} | bat --paging=always --style=full)' \
      --preview-window=right:60%:wrap
}

grs() {
  git status -s | awk '$1 ~ /^[MARCD]/ {print "[Staged]", $1, $2}' |
    fzf --ansi --no-sort --reverse --multi \
      --preview 'git diff --cached --color=always {3}' \
      --bind 'enter:execute(git restore --staged {3})+abort' \
      --bind 'ctrl-d:execute(git diff --cached --color=always {3} | bat --paging=always --style=full)' \
      --preview-window=right:60%:wrap
}
